* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(216, 216, 216);
}

header {
    padding: 10px;
    text-align: center;
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(114, 109, 109, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

main {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    /* padding: 20px 7px 10px 7px; */
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

main .gambar {
    width: 25%;
}

main .gambar img {
    width: 100%;
}

/* responsive */
/* mobile */
@media screen and ( max-width: 576px ) {
    main .gambar {
        width: 50%;
    }
}

@media screen and ( max-width: 400px ) {
    main .gambar {
        width: 100%;
    }
}