body {
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #fff;
}

h4 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2.5rem;
}

section,
footer {
  min-height: 400px;
  background: #000;
}

header .navbar {
  background: #1f1f1f;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header .navbar .navbar-toggler,
header .navbar .navbar-toggler:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .navbar.bg-black {
  background: #1f1f1f;
}

.jumbotron {
  background: url("../img/Jum_bg_mobile.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 10;
  min-height: 200px;
}

.jumbotron .box-1 {
  position: relative;
  margin-top: 5.5rem;
  z-index: 11;
  margin-bottom: 2.5rem;
}

.jumbotron .box-1 h3 {
  color: white;
  font-size: 1.8rem !important;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 0.5rem black;
}

.jumbotron .box-1 .box {
  display: inline-block;
  background: rgba(73, 73, 73, 0.3);
  padding: 5px 10px;
  padding-bottom: 8px;
  border-radius: 20px;
}

.jumbotron .box-1 .box svg.bi-arrow-down-short {
  width: 20px;
  height: 20px;
  background: rgba(245, 245, 245, 0.2);
  margin-right: 5px;
  border-radius: 50%;
}

.jumbotron .box-1 .box p {
  display: inline-block;
  color: #fff;
  margin-bottom: 0;
  font-size: 0.8rem;
  letter-spacing: 0.01rem;
}

.jumbotron .box-2 {
  position: relative;
  z-index: 12;
}

.jumbotron .box-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jumbotron .box-2 .container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 40%;
  height: 120px;
  margin-bottom: 10px;
  border: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  color: #fff;
}

.jumbotron .box-2 .container .card h4 {
  font-size: 0.7rem;
}

.jumbotron .box-2 .container .card:nth-child(1) {
  background: url("../img/card-1.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron .box-2 .container .card:nth-child(2) {
  background: url("../img/card-2.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron .box-2 .container .card:nth-child(3) {
  background: url("../img/card-3.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron .box-2 .container .card:nth-child(4) {
  background: url("../img/card-4.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(9%, black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, black 0%, black 9%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
}

section.qoutes {
  min-height: 300px;
}

section.qoutes .container {
  padding-top: 4.5rem;
}

section.qoutes .container .box {
  width: 100%;
}

section.qoutes .container .box h4 {
  font-size: 1.3rem;
  letter-spacing: 0.071rem;
  margin-bottom: 2.5rem;
}

section.qoutes .container .box p {
  font-size: 0.7rem;
  margin-bottom: 0;
  font-weight: 200;
  letter-spacing: 0.05rem;
}

section.qoutes .container .box p a {
  color: #27a2db;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.qoutes .container .box p a:hover {
  color: #1e83b1;
}

section.professional {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#0a0a0a));
  background: linear-gradient(to bottom, black, #0a0a0a);
}

section.professional .container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

section.professional .container .row .col-md-6:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

section.professional .container .row .col-md-6:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.professional .container .row .col-md-6 img {
  width: 100%;
}

section.professional .container .row .col-md-6 h4 {
  font-size: 1.3rem;
  letter-spacing: 0.071rem;
  margin-bottom: 1.5rem;
}

section.professional .container .row .col-md-6 p {
  font-size: 1rem;
  margin-bottom: 2.5rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
}

section.professional .container .row .col-md-6 a {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#27a2db), color-stop(11%, #27a2db), to(#f038c2));
  background: linear-gradient(to right, #27a2db 0%, #27a2db 11%, #f038c2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.professional .container .row .col-md-6 .col-sm-6 {
  margin-top: 2.5rem;
}

section.professional .container .row .col-md-6 .col-sm-6 img {
  width: 100%;
}

section.ex {
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(#0a0a0a));
  background: linear-gradient(to top, black, #0a0a0a);
  position: relative;
}

section.ex .container {
  text-align: center;
  padding-top: 2.5rem;
}

section.ex .container h4 {
  text-align: left;
  font-size: 1.3rem;
  letter-spacing: 0.071rem;
  margin-bottom: 2.5rem;
}

section.ex .container .col-md-4 img {
  width: 100%;
  margin-bottom: 1.5rem;
}

section.ex .container .col-md-4:nth-child(2),
section.ex .container .col-md-4:nth-child(3) {
  display: none;
}

section.ex .container a {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#27a2db), color-stop(11%, #27a2db), to(#f038c2));
  background: linear-gradient(to right, #27a2db 0%, #27a2db 11%, #f038c2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 60px;
  left: 37%;
  z-index: 1000;
}

section.ex::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(11%, rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.6) 11%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  left: 0;
  bottom: 0;
}

section.full {
  margin-top: 7rem;
  position: relative;
  min-height: 300px;
  background: url("../img/Jum_bg_large.jpg");
  background-size: cover;
  background-position: center;
}

section.full .container {
  position: relative;
  height: 300px;
}

section.full .container .box {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.full .container .box h4 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

section.full .container .box a {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section.full .container .box a:hover {
  color: teal;
}

section.full::after {
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(2%, black), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(to top, black 2%, rgba(0, 0, 0, 0.4) 100%);
  position: absolute;
  opacity: 1;
  bottom: 0;
  right: 0;
}

section.get {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

section.get h4 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2.5rem;
}

section.get p,
section.get a {
  font-size: 1.1rem;
}

section.get .col-md-5 {
  margin-bottom: 2.5rem;
}

section.get .col-md-5 .box {
  width: 100%;
  margin-bottom: 2.5rem;
}

section.get .col-md-5 .box a {
  background: -webkit-gradient(linear, left top, right top, from(#27a2db), color-stop(11%, #27a2db), to(#f038c2));
  background: linear-gradient(to right, #27a2db 0%, #27a2db 11%, #f038c2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

section.get ul {
  list-style: none;
  padding-left: 0;
}

section.get ul li {
  padding: 1rem 0;
}

section.get ul li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.get ul li a p {
  color: #cccccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  margin-bottom: 0;
}

section.get ul li a p:hover,
section.get ul li a p:hover ~ svg {
  color: #fff;
}

section.get ul li a svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: right;
  margin-top: 0.4rem;
  color: #cccccc;
}

footer.footer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), to(#1f1f1f));
  background: linear-gradient(to top, black 10%, #1f1f1f 100%);
}

footer.footer .container {
  text-align: center;
}

footer.footer .container h5 {
  text-transform: uppercase;
}

footer.footer .container p,
footer.footer .container a {
  font-size: 1.1rem;
}

footer.footer .container a {
  display: block;
}

footer.footer .container .row {
  text-align: left;
  margin-bottom: 2.5rem;
}

footer.footer .container .row .col-md-6:nth-child(1) p {
  margin-bottom: 2.5rem;
  width: 100%;
}

footer.footer .container .row .col-md-6:nth-child(1) a {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#27a2db), color-stop(11%, #27a2db), to(#f038c2));
  background: linear-gradient(to right, #27a2db 0%, #27a2db 11%, #f038c2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer.footer .container .row .col-md-6:nth-child(2) {
  padding-top: 2rem;
}

footer.footer .container .row .col-md-6:nth-child(2) h5 {
  margin-top: 2.5rem;
  color: #666666;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

footer.footer .container .row .col-md-6:nth-child(2) a {
  color: #cccccc;
  font-size: 0.9rem;
  padding: 0.4rem 0;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer.footer .container .row .col-md-6:nth-child(2) a:hover {
  color: #fff;
}

footer.footer .container h5.logo {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  header .navbar {
    background: rgba(31, 31, 31, 0);
  }
  header .navbar.bg-black {
    background: #1f1f1f;
  }
  .jumbotron {
    background: url("../img/Jum_bg_mobile.jpg");
    background-size: cover;
    background-position: center;
    min-height: 200px;
  }
  .jumbotron .box-1 {
    margin-bottom: 4rem;
  }
  .jumbotron .box-1 h3 {
    font-size: 2.2rem !important;
    margin-bottom: 2rem;
  }
  .jumbotron .box-2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .jumbotron .box-2 .container .card {
    width: 48%;
    height: 200px;
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .jumbotron .box-2 .container .card h4 {
    font-size: 1.05rem;
  }
  section.qoutes {
    min-height: 300px;
  }
  section.qoutes .container .box {
    width: 70%;
    margin: 0 auto;
  }
  section.qoutes .container .box h4 {
    font-size: 1.3rem;
    letter-spacing: 0.08rem;
    margin-bottom: 3rem;
    font-weight: 300;
  }
  section.professional {
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(#0a0a0a));
    background: linear-gradient(to bottom, black, #0a0a0a);
  }
  section.professional .container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  section.professional .container .row .col-md-6:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2.5rem;
  }
  section.professional .container .row .col-md-6:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section.professional .container .row .col-md-6 img {
    width: 100%;
  }
  section.professional .container .row .col-md-6 h4 {
    font-size: 1.3rem;
    letter-spacing: 0.071rem;
    margin-bottom: 1.5rem;
  }
  section.professional .container .row .col-md-6 p {
    font-size: 1rem;
    margin-bottom: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
  }
  section.professional .container .row .col-md-6 a {
    text-decoration: none;
    background: -webkit-gradient(linear, left top, right top, from(#27a2db), color-stop(11%, #27a2db), to(#f038c2));
    background: linear-gradient(to right, #27a2db 0%, #27a2db 11%, #f038c2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  section.professional .container .row .col-md-6 .col-sm-6 {
    margin-top: 2.5rem;
  }
  section.professional .container .row .col-md-6 .col-sm-6 img {
    width: 100%;
  }
  section.ex .container {
    height: 750px;
    overflow: hidden;
  }
  section.ex .container h4 {
    text-align: left;
    font-size: 1.3rem;
    letter-spacing: 0.08rem;
    margin-bottom: 0rem;
    width: 40%;
  }
  section.ex .container .col-md-4:nth-child(2),
  section.ex .container .col-md-4:nth-child(3) {
    display: block;
  }
  section.ex .container .col-md-4:nth-child(1) {
    margin-top: 5rem;
  }
  section.ex .container .col-md-4:nth-child(2) {
    margin-top: 2.5rem;
  }
  section.ex .container a {
    bottom: 60px;
    left: 44%;
  }
  section.full {
    min-height: 200px;
    background: url("../img/Jum_bg_large.jpg");
    background-size: cover;
    background-position: center;
  }
  section.full .container {
    position: relative;
    height: 200px;
  }
  section.full .container .box {
    width: 60%;
  }
  section.get {
    padding-top: 3rem;
  }
}

@media (min-width: 992px) {
  header .navbar {
    background: rgba(31, 31, 31, 0);
  }
  .jumbotron {
    background: url("../img/Jum_bg_large.jpg");
    background-size: cover;
    background-position: center;
  }
  .jumbotron .box-1 {
    margin-top: 0;
    min-height: 23rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .jumbotron .box-1 h3 {
    font-size: 3.5rem !important;
  }
  .jumbotron .box-1 .box {
    display: inline-block;
    background: rgba(73, 73, 73, 0.3);
    padding: 5px 10px;
    padding-bottom: 8px;
    border-radius: 20px;
  }
  .jumbotron .box-1 .box svg.bi-arrow-down-short {
    width: 20px;
    height: 20px;
    background: rgba(245, 245, 245, 0.2);
    margin-right: 5px;
    border-radius: 50%;
  }
  .jumbotron .box-1 .box p {
    display: inline-block;
    color: #fff;
    margin-bottom: 0;
    font-size: 0.8rem;
  }
  .jumbotron .box-2 {
    padding-bottom: 2rem;
  }
  .jumbotron .box-2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 2rem;
  }
  .jumbotron .box-2 .container .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 25%;
    height: 180px;
    border: none;
    border-radius: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    color: #fff;
  }
  .jumbotron .box-2 .container .card h4 {
    font-size: 1.2rem;
  }
  section.qoutes {
    min-height: 500px;
  }
  section.qoutes .container {
    padding: 2.5rem 0;
  }
  section.qoutes .container .box {
    margin: 0 auto;
    width: 55%;
  }
  section.qoutes .container .box h4 {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    margin-bottom: 10.5rem;
  }
  section.qoutes .container .box p {
    font-size: 1rem;
  }
  section.professional .container {
    padding-top: 4.5rem;
    padding-bottom: 5.5rem;
  }
  section.professional .container .row .col-md-6:nth-child(1) {
    margin-bottom: 0rem;
  }
  section.professional .container .row .col-md-6 h4 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    margin-bottom: 2.5rem;
  }
  section.professional .container .row .col-md-6 p {
    font-size: 1rem;
    margin-bottom: 3.5rem;
  }
  section.professional .container .row .col-md-6 a {
    margin-bottom: 0.1rem;
  }
  section.professional .container .row .col-md-6 .col-sm-6 {
    margin-top: 1.5rem;
  }
  section.professional .container .row .col-md-6 .col-sm-6 img {
    width: 100%;
  }
  section.ex .container {
    height: 1250px;
    overflow: hidden;
  }
  section.ex .container h4 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    width: 50%;
  }
  section.ex .container .col-md-4:nth-child(2),
  section.ex .container .col-md-4:nth-child(3) {
    display: block;
  }
  section.ex .container .col-md-4:nth-child(1) {
    margin-top: 6.5rem;
  }
  section.ex .container .col-md-4:nth-child(2) {
    margin-top: 3.5rem;
  }
  section.ex .container a.center {
    left: 46%;
    bottom: 30px;
  }
  section.full .container .box {
    width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  header .navbar {
    background: rgba(31, 31, 31, 0);
  }
  .jumbotron {
    background: url("../img/Jum_bg_large.jpg");
    background-size: cover;
    background-position: center;
  }
  .jumbotron .box-1 {
    margin-top: 0;
    min-height: 23rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .jumbotron .box-1 h3 {
    font-size: 4rem !important;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-bottom: 1.5rem;
    padding-top: 0.8rem;
  }
  .jumbotron .box-1 .box {
    display: inline-block;
    background: rgba(73, 73, 73, 0.3);
    padding: 5px 10px;
    padding-bottom: 8px;
    border-radius: 20px;
  }
  .jumbotron .box-1 .box svg.bi-arrow-down-short {
    width: 20px;
    height: 20px;
    background: rgba(245, 245, 245, 0.2);
    margin-right: 5px;
    border-radius: 50%;
  }
  .jumbotron .box-1 .box p {
    display: inline-block;
    color: #fff;
    margin-bottom: 0;
    font-size: 0.8rem;
  }
  .jumbotron .box-2 {
    padding-bottom: 2rem;
  }
  .jumbotron .box-2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 2rem;
  }
  .jumbotron .box-2 .container .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 25%;
    height: 180px;
    border: none;
    border-radius: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    color: #fff;
  }
  .jumbotron .box-2 .container .card h4 {
    font-size: 1.2rem;
  }
  section.qoutes {
    min-height: 500px;
  }
  section.qoutes .container {
    padding: 2.5rem 0;
  }
  section.qoutes .container .box {
    margin: 0 auto;
    width: 55%;
  }
  section.qoutes .container .box h4 {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    margin-bottom: 10.5rem;
  }
  section.qoutes .container .box p {
    font-size: 1rem;
  }
  section.professional .container {
    padding-top: 4.5rem;
    padding-bottom: 5.5rem;
  }
  section.professional .container .row .col-md-6:nth-child(1) {
    margin-bottom: 0rem;
  }
  section.professional .container .row .col-md-6 h4 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin-bottom: 2.5rem;
  }
  section.professional .container .row .col-md-6 p {
    font-size: 1rem;
    margin-bottom: 3.5rem;
  }
  section.professional .container .row .col-md-6 a {
    margin-bottom: 0.1rem;
  }
  section.professional .container .row .col-md-6 .col-sm-6 {
    margin-top: 1.5rem;
  }
  section.professional .container .row .col-md-6 .col-sm-6 img {
    width: 100%;
  }
  section.ex .container {
    height: 1250px;
    overflow: hidden;
  }
  section.ex .container h4 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    width: 50%;
    margin-bottom: 1.5rem;
  }
  section.ex .container .col-md-4:nth-child(2),
  section.ex .container .col-md-4:nth-child(3) {
    display: block;
  }
  section.ex .container .col-md-4:nth-child(1) {
    margin-top: 6.5rem;
  }
  section.ex .container .col-md-4:nth-child(2) {
    margin-top: 3.5rem;
  }
  section.ex .container a.center {
    left: 46%;
    bottom: 30px;
  }
  section.get {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
  }
  section.get h4 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;
  }
  section.get p,
  section.get a {
    font-size: 1.1rem;
  }
  section.get .box {
    width: 70%;
  }
  section.get ul {
    list-style: none;
    padding-left: 0;
  }
  section.get ul li {
    padding: 1rem 0;
  }
  section.get ul li a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section.get ul li a p {
    display: inline-block;
    margin-bottom: 0;
  }
  section.get ul li a svg {
    text-align: right;
    margin-top: 0.4rem;
  }
  section.full {
    margin-top: 7rem;
    position: relative;
    min-height: 300px;
    background: url("../img/Jum_bg_large.jpg");
    background-size: cover;
    background-position: center;
  }
  section.full .container {
    position: relative;
    height: 300px;
  }
  section.full .container .box {
    width: 60%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section.full .container .box h4 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
  }
  section.full::after {
    content: "";
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(2%, black), to(rgba(0, 0, 0, 0.6)));
    background: linear-gradient(to top, black 2%, rgba(0, 0, 0, 0.6) 100%);
    position: absolute;
    opacity: 1;
    bottom: 0;
    right: 0;
  }
  section.get {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
  }
  section.get h4 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;
  }
  section.get p,
  section.get a {
    font-size: 1.1rem;
  }
  section.get .col-md-5 {
    margin-bottom: 0;
  }
  section.get .col-md-5 .box {
    width: 70%;
  }
  section.get .col-md-5 .box a {
    background: -webkit-gradient(linear, left top, right top, from(#27a2db), color-stop(11%, #27a2db), to(#f038c2));
    background: linear-gradient(to right, #27a2db 0%, #27a2db 11%, #f038c2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  section.get ul {
    list-style: none;
    padding-left: 0;
  }
  section.get ul li {
    padding: 1rem 0;
  }
  section.get ul li a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section.get ul li a p {
    display: inline-block;
    margin-bottom: 0;
  }
  section.get ul li a svg {
    text-align: right;
    margin-top: 0.4rem;
  }
  footer.footer {
    padding-top: 6.5rem;
    padding-bottom: 2.5rem;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), to(#1f1f1f));
    background: linear-gradient(to top, black 10%, #1f1f1f 100%);
  }
  footer.footer .container {
    text-align: center;
  }
  footer.footer .container h5 {
    text-transform: uppercase;
  }
  footer.footer .container p,
  footer.footer .container a {
    font-size: 1.1rem;
  }
  footer.footer .container a {
    display: block;
  }
  footer.footer .container .row {
    text-align: left;
    margin-bottom: 2.5rem;
  }
  footer.footer .container .row .col-md-6:nth-child(1) p {
    margin-bottom: 2.5rem;
    width: 50%;
  }
  footer.footer .container .row .col-md-6:nth-child(1) .link a {
    display: inline-block;
    text-decoration: none;
    background: -webkit-gradient(linear, left top, right top, from(#27a2db), color-stop(11%, #27a2db), to(#f038c2));
    background: linear-gradient(to right, #27a2db 0%, #27a2db 11%, #f038c2 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  footer.footer .container .row .col-md-6:nth-child(2) {
    padding-top: 1rem;
  }
  footer.footer .container .row .col-md-6:nth-child(2) h5 {
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
  footer.footer .container .row .col-md-6:nth-child(2) a {
    font-size: 0.9rem;
    padding: 0.4rem 0;
    text-decoration: none;
  }
}
/*# sourceMappingURL=style.css.map */