# text file
catatan.txt

# css file
assets/css/bootstrap.css
assets/css/bootstrap.min.css

# img file
assets/img/abigail-lynn-1224472-unsplash.jpg
assets/img/ahmed-atef-Ty6iCAuQoOI-unsplash.jpg
assets/img/anna-jimenez-calaf-PLOq7Ouq0fM-unsplash.jpg
assets/img/ben-dutton-1339868-unsplash.jpg
assets/img/damon-lam-1496534-unsplash.jpg
assets/img/gevorg-avetisyan-mTYRfrFVDCY-unsplash.jpg
assets/img/jellyfish_fantasy_4k_3-1920x1080.jpg
assets/img/jeremy-bishop-G2BUh5hsawg-unsplash.jpg
assets/img/jonathan-pielmayer-gDrUY7QUeng-unsplash.jpg
assets/img/joshua-aragon-BMnhuwFYr7w-unsplash.jpg
assets/img/levi-sun-K7zcQdEKarY-unsplash.jpg